 CREATE OR REPLACE FUNCTION public.create_user_company_relationship(p_user_id uuid, p_company_id uuid, p_profile_id uuid)                                           +
  RETURNS TABLE(id uuid, user_id uuid, company_id uuid, profile_id uuid, ativo boolean, created_at timestamp with time zone, updated_at timestamp with time zone)   +
  LANGUAGE plpgsql                                                                                                                                                  +
  SECURITY DEFINER                                                                                                                                                  +
  SET search_path TO 'public', 'auth'                                                                                                                               +
 AS $function$\r                                                                                                                                                    +
 DECLARE\r                                                                                                                                                          +
   v_result RECORD;\r                                                                                                                                               +
   v_user_email TEXT;\r                                                                                                                                             +
   v_user_nome TEXT;\r                                                                                                                                              +
   v_error_message TEXT;\r                                                                                                                                          +
 BEGIN\r                                                                                                                                                            +
   RAISE NOTICE 'create_user_company_relationship: Iniciando fun├º├úo com par├ómetros: user_id=%, company_id=%, profile_id=%', p_user_id, p_company_id, p_profile_id;\r+
 \r                                                                                                                                                                 +
   -- Desabilitar RLS temporariamente para esta fun├º├úo (seguro porque j├í validamos os dados)\r                                                                      +
   SET LOCAL row_security = off;\r                                                                                                                                  +
   RAISE NOTICE 'create_user_company_relationship: RLS desabilitado';\r                                                                                             +
 \r                                                                                                                                                                 +
   -- Verificar se o usu├írio existe em auth.users e obter dados\r                                                                                                   +
   BEGIN\r                                                                                                                                                          +
     SELECT email, raw_user_meta_data->>'nome' INTO v_user_email, v_user_nome\r                                                                                     +
     FROM auth.users\r                                                                                                                                              +
     WHERE id = p_user_id;\r                                                                                                                                        +
     \r                                                                                                                                                             +
     IF v_user_email IS NULL THEN\r                                                                                                                                 +
       RAISE EXCEPTION 'Usu├írio n├úo encontrado no auth: %', p_user_id;\r                                                                                            +
     END IF;\r                                                                                                                                                      +
     \r                                                                                                                                                             +
     RAISE NOTICE 'create_user_company_relationship: Usu├írio encontrado no auth: email=%, nome=%', v_user_email, v_user_nome;\r                                     +
   EXCEPTION WHEN OTHERS THEN\r                                                                                                                                     +
     RAISE EXCEPTION 'Erro ao buscar usu├írio no auth: %', SQLERRM;\r                                                                                                +
   END;\r                                                                                                                                                           +
 \r                                                                                                                                                                 +
   -- Garantir que o registro existe em public.users (pode n├úo existir se o trigger ainda n├úo executou)\r                                                           +
   BEGIN\r                                                                                                                                                          +
     INSERT INTO public.users (id, nome, email)\r                                                                                                                   +
     VALUES (p_user_id, COALESCE(v_user_nome, v_user_email), v_user_email)\r                                                                                        +
     ON CONFLICT (id) DO NOTHING;\r                                                                                                                                 +
     RAISE NOTICE 'create_user_company_relationship: Registro em public.users verificado/criado';\r                                                                 +
   EXCEPTION WHEN OTHERS THEN\r                                                                                                                                     +
     RAISE EXCEPTION 'Erro ao inserir/verificar usu├írio em public.users: %', SQLERRM;\r                                                                             +
   END;\r                                                                                                                                                           +
 \r                                                                                                                                                                 +
   -- Verificar se a empresa existe\r                                                                                                                               +
   BEGIN\r                                                                                                                                                          +
     IF NOT EXISTS (SELECT 1 FROM public.companies WHERE id = p_company_id) THEN\r                                                                                  +
       RAISE EXCEPTION 'Empresa n├úo encontrada: %', p_company_id;\r                                                                                                 +
     END IF;\r                                                                                                                                                      +
     RAISE NOTICE 'create_user_company_relationship: Empresa encontrada: %', p_company_id;\r                                                                        +
   EXCEPTION WHEN OTHERS THEN\r                                                                                                                                     +
     RAISE EXCEPTION 'Erro ao verificar empresa: %', SQLERRM;\r                                                                                                     +
   END;\r                                                                                                                                                           +
 \r                                                                                                                                                                 +
   -- Verificar se o perfil existe\r                                                                                                                                +
   BEGIN\r                                                                                                                                                          +
     IF NOT EXISTS (SELECT 1 FROM public.profiles WHERE id = p_profile_id) THEN\r                                                                                   +
       RAISE EXCEPTION 'Perfil n├úo encontrado: %', p_profile_id;\r                                                                                                  +
     END IF;\r                                                                                                                                                      +
     RAISE NOTICE 'create_user_company_relationship: Perfil encontrado: %', p_profile_id;\r                                                                         +
   EXCEPTION WHEN OTHERS THEN\r                                                                                                                                     +
     RAISE EXCEPTION 'Erro ao verificar perfil: %', SQLERRM;\r                                                                                                      +
   END;\r                                                                                                                                                           +
 \r                                                                                                                                                                 +
   -- Inserir o relacionamento (ou atualizar se j├í existir)\r                                                                                                       +
   -- RLS est├í desabilitado para esta transa├º├úo, permitindo a inser├º├úo\r                                                                                            +
   BEGIN\r                                                                                                                                                          +
     RAISE NOTICE 'create_user_company_relationship: Tentando inserir relacionamento em user_companies';\r                                                          +
     \r                                                                                                                                                             +
     INSERT INTO public.user_companies (\r                                                                                                                          +
       user_id,\r                                                                                                                                                   +
       company_id,\r                                                                                                                                                +
       profile_id,\r                                                                                                                                                +
       ativo,\r                                                                                                                                                     +
       created_at,\r                                                                                                                                                +
       updated_at\r                                                                                                                                                 +
     )\r                                                                                                                                                            +
     VALUES (\r                                                                                                                                                     +
       p_user_id,\r                                                                                                                                                 +
       p_company_id,\r                                                                                                                                              +
       p_profile_id,\r                                                                                                                                              +
       true,\r                                                                                                                                                      +
       NOW(),\r                                                                                                                                                     +
       NOW()\r                                                                                                                                                      +
     )\r                                                                                                                                                            +
     ON CONFLICT (user_id, company_id)\r                                                                                                                            +
     DO UPDATE SET\r                                                                                                                                                +
       profile_id = EXCLUDED.profile_id,\r                                                                                                                          +
       ativo = true,\r                                                                                                                                              +
       updated_at = NOW()\r                                                                                                                                         +
     RETURNING * INTO v_result;\r                                                                                                                                   +
     \r                                                                                                                                                             +
     RAISE NOTICE 'create_user_company_relationship: Relacionamento criado/atualizado com sucesso: id=%', v_result.id;\r                                            +
   EXCEPTION WHEN OTHERS THEN\r                                                                                                                                     +
     v_error_message := 'Erro ao inserir relacionamento em user_companies: ' || SQLERRM || ' (SQLSTATE: ' || SQLSTATE || ')';\r                                     +
     RAISE NOTICE 'create_user_company_relationship: %', v_error_message;\r                                                                                         +
     RAISE EXCEPTION '%', v_error_message;\r                                                                                                                        +
   END;\r                                                                                                                                                           +
 \r                                                                                                                                                                 +
   -- Retornar o registro criado/atualizado\r                                                                                                                       +
   RETURN QUERY\r                                                                                                                                                   +
   SELECT \r                                                                                                                                                        +
     v_result.id,\r                                                                                                                                                 +
     v_result.user_id,\r                                                                                                                                            +
     v_result.company_id,\r                                                                                                                                         +
     v_result.profile_id,\r                                                                                                                                         +
     v_result.ativo,\r                                                                                                                                              +
     v_result.created_at,\r                                                                                                                                         +
     v_result.updated_at;\r                                                                                                                                         +
 END;\r                                                                                                                                                             +
 $function$                                                                                                                                                         +
 

