--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.companies (id, razao_social, nome_fantasia, cnpj, inscricao_estadual, endereco, contato, ativo, created_at, updated_at, numero_empresa) FROM stdin;
a9784891-9d58-4cc4-8404-18032105c335	Empresa Teste	Nova Empresa Teste	11.222.333/0001-44	6512351	\N	71955557777	t	2025-10-03 21:31:32.06255+00	2025-10-13 22:41:26.86973+00	01
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: aprovacoes_unificada; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.aprovacoes_unificada (id, company_id, processo_tipo, processo_id, nivel_aprovacao, aprovador_id, status, data_aprovacao, observacoes, aprovador_original_id, transferido_em, transferido_por, motivo_transferencia, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cost_centers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cost_centers (id, company_id, nome, codigo, ativo, created_at, updated_at) FROM stdin;
e2a9363d-446b-4af1-a724-b818deeb503d	a9784891-9d58-4cc4-8404-18032105c335	Teste Centro de Custo	123	t	2025-10-21 14:23:51.37236+00	2025-10-21 14:23:51.37236+00
\.


--
-- Data for Name: configuracoes_aprovacao_unificada; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.configuracoes_aprovacao_unificada (id, company_id, processo_tipo, centro_custo_id, departamento, classe_financeira, usuario_id, valor_limite, nivel_aprovacao, aprovadores, ativo, created_at, updated_at, created_by) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: entity_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: historico_edicoes_solicitacoes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.historico_edicoes_solicitacoes (id, company_id, processo_tipo, processo_id, usuario_editor_id, data_edicao, campos_alterados, valores_anteriores, valores_novos, aprovacoes_resetadas, data_reset, created_at) FROM stdin;
\.


--
-- Data for Name: module_permissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, user_id, company_id, type, title, message, data, is_read, read_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: partners; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.partners (id, company_id, tipo, razao_social, nome_fantasia, cnpj, matriz_id, endereco, contato, ativo, created_at, updated_at) FROM stdin;
10dda910-e833-4370-bc59-300cf2173456	a9784891-9d58-4cc4-8404-18032105c335	{fornecedor}	Teste Raz├úo Social	Teste Parceiro	74154745000187	\N	\N	\N	t	2025-10-21 14:35:19.914365+00	2025-10-21 14:35:19.914365+00
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.projects (id, company_id, cost_center_id, nome, codigo, ativo, created_at, updated_at) FROM stdin;
158824b4-b7db-40b9-9f04-2c1ede1f3950	a9784891-9d58-4cc4-8404-18032105c335	e2a9363d-446b-4af1-a724-b818deeb503d	Teste Projeto	1234	t	2025-10-21 14:24:34.506224+00	2025-10-21 14:24:34.506224+00
\.


--
-- Data for Name: user_companies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: company_number_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.company_number_seq', 1, false);


--
-- PostgreSQL database dump complete
--

